@use "config" as config;
@use "colors" as colors;
@use "mixins" as mixins;

.container {
    max-width: 82.5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-left: auto;
    margin-right: auto;
    float: none;
    position: relative;
    
    @include mixins.responsive-below('sm') {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.section {
    @include mixins.section-padding-y;

    &-header {
        text-align: center;
        margin-bottom: config.$vertical-spacing;

        &.animate {
            opacity: 0;
            transform: scale(.5);
            transition: transform 1s, opacity 1s;

            &.animate--visible {
                opacity: 1;
                transform: scale(1);
            }
        }

        h2 {
            margin-bottom: .2em;
        }

        h3 {
            color: colors.color-get(color-2);
            font-style: italic;
            letter-spacing: 0.0625rem;
            font-weight: 600;
            font-size: 1.375rem;
        }
    }
}

.narrow-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    overflow: hidden;
    padding-bottom: 5.625rem;
    padding-top: 5.625rem;
    text-align: center;

    h1 {
        margin-bottom: 0;

        &.animate {
            opacity: 0;
            transform: scale(.5);
            transition: transform 1s, opacity 1s;

            &--visible {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}