/*
 * generic form elements
 */

form {
    margin: 0;
    padding: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel],
input[type=url],
input[type=password],
input[type=search],
textarea,
select {
    font-weight: normal;
    padding: 15px;
    border: none;
    min-width: 100%;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    outline: none;
    font-size: .8em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 20%);

    &:focus {
        outline: none;
        background-color: #fff;
        box-shadow: 0px 5px 15px rgb(0 0 0 / 25%);
    }
}

.form {
    .field {
        padding-bottom: 1.25rem;
    }

    .field-label {
        display: block;
        font-weight: 600;
        font-size: .8em;
    }

    .required-label {
        font-size: .8em;
        vertical-align: top;
        color: #990000;
    }

    .field-input {
        &-error {
            border: 1px solid #990000;
        }
    }

    .field-error {
        color: #990000;
        font-size: 0.75em;
        margin: .2em 0 0;
    }
}