.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip-link:focus {
        background-color: #ddd;
        display: block;
        height: auto;
        top: 5px;
        left: 5px;
        padding: 15px 20px;
        text-decoration: none;
        width: auto;
        z-index: 100000;
        outline: 2px solid;
        position: fixed;
    }
}
